<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>cs180project-022-it-s-corona-time</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SearchOperations</display-name>
    <servlet-name>SearchOperations</servlet-name>
    <servlet-class>SearchOperations</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchOperations</servlet-name>
    <url-pattern>/SearchOperations</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchOperationsPage</display-name>
    <servlet-name>SearchOperationsPage</servlet-name>
    <servlet-class>SearchOperationsPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchOperationsPage</servlet-name>
    <url-pattern>/SearchOperationsPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditFiles</display-name>
    <servlet-name>EditFiles</servlet-name>
    <servlet-class>EditFiles</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditFiles</servlet-name>
    <url-pattern>/EditFiles</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OperationsServlet</display-name>
    <servlet-name>OperationsServlet</servlet-name>
    <servlet-class>OperationsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OperationsServlet</servlet-name>
    <url-pattern>/OperationsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditServlet</display-name>
    <servlet-name>EditServlet</servlet-name>
    <servlet-class>EditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditServlet</servlet-name>
    <url-pattern>/EditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChartServlet</display-name>
    <servlet-name>ChartServlet</servlet-name>
    <servlet-class>ChartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChartServlet</servlet-name>
    <url-pattern>/ChartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
</web-app>